*{
	margin: 0;
}

body{
	font-family: 'Calibri';
	font-size: 6pt;
	color: red;
	background-image:url("../img/fondo1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	line-height: 15px;
}
main{
	margin: 25px;
}
.tit{
	display: flex;
	align-items: center;
	font-size: 30px;
	
}
.tit  img{
	width: 100px;
	height: 100px;
	margin-right: 25px;
}
.cont img{
	width: 100%;
	height: 50%;
}


@media ( min-width:400px ){
	body{
				font-family: 'Cambria';
				font-size: 8pt;
				color: blue;
				background-image:url("../img/fondo2.jpg");
				background-repeat: no-repeat;
				background-size: cover;
				line-height: 20px;
		}
		.tit  img{
			width: 150px;
			height: 150px;
			margin-right: 50px;
		}
	}
	
@media ( min-width:800px ){
	body{
				font-family: 'Comic Sans MS';
				font-size: 10pt;
				color: green;
				background-image:url("../img/fondo3.jpg");
				background-repeat: no-repeat;
				background-size: cover;
				line-height: 25px;
		}
		.tit  img{
			width: 150px;
			height: 150px;
			margin-right: 50px;
		}
		.cont img{
			width: 675px;
			height: 450px;
			padding-bottom: 10px;
			padding-right: 15px;
		}
		.det{
			display: flex;
		}
		.det img{
			float:left;
			margin-right: 10px;
		}
		.det p{
			margin-top: -10px;
		}
		
	}
						
@media ( min-width:1200px ){
	body{
				font-family: 'Times New Roman';
				font-size: 12pt;
				color: yellow;
				background-image:url("../img/1200px.jpg");
				background-repeat: no-repeat;
				background-size: cover;
				line-height: 30px;
		}
		.tit  img{
			width: 150px;
			height: 150px;
			margin-right: 50px;
		}
	}
	
@media ( min-width:1600px ){
	body{
				font-family: 'Courier New';
				font-size: 16pt;
				color: orange;
				background-image:url("../img/fondo5.jpg");
				background-repeat: no-repeat;
				background-size: cover;
				line-height: 35px;
		}
		.tit  img{
			width: 150px;
			height: 150px;
			margin-right: 50px;
		}
	}
	footer{
		margin-top: 100px;
		width: 100%;
		background-color: #3D0E0B
	;
		justify-content: center;
	}.grupo1{
		width: 100%;
		margin: auto;
		display: flex;
		justify-content: center;
		grid-gap:50px;
		padding: 45px 0px;
	}.box img{
		margin-left: -20px;
	}.box p{
		color: white;
		margin-top: 20px;
		margin-left: -60px;
		display: flex;
	}.box a{
		color: white;
		text-decoration: none;
	}.grupo2{
		background-color: #3D0E0B
	;
		padding: 15px 10px;
		text-align: center;
		color: white;
	}.grupo2 small{
		font-size: 15px;
	}


	.lie{
		height: 65px;
		background-color: #b67c0f;
		top:0;
		position: sticky;
		padding: 15px;
	}
	.lie h3{
		text-align: center;
	}
	.prue{
		margin-top: -60px;
		border-radius: 5px;
		padding:10px;
		background-color: #8C4C2B;
		width: 40px;
		height: 40px;
		position: relative;
		cursor: pointer;
	}
	.prue span{
		background-color: #ffffff;
		margin-top: 7px;
		width: 40px;
		height: 5px;
		display: block;
	}
	#men{
		display: none;
	 }
	.menu{
		background-color: #7AA641;
		margin-left: -130%;
	   display: block;
	   margin-top: -100px;
	   height: 350px;
	   width: 125%;
	   transition: 0.5s;
	}
	ul{
		padding-top: 100px;
	}
	.menu li {
		width: 125px;
		display: block;
		transition:0.5s;
		margin-top: 35px;
	}
	.menu li a {
		text-decoration: none;
		color:#000000;
	}
	.menu li:hover{
		transition:0.5s;
		margin-left: 15px;
	}
	.menu li:hover::after{
		margin-left: 7px;
		content: " ←";
		color:black;
	}
	#men:checked + .menu{
		margin-left: -35px;
		transition:0.5s;
	}
	#men:checked + h3 {
		opacity: 1;
	}
	.logo{
		margin-top: 7px;
	   margin-left: 45%;
	   width: 50px;
		height: 50px;
	}
	
	
	.tipo{
		display: flex;
		justify-content: space-evenly;
	}
	.cat{
		text-align: center;
	}
	.cat img{
		width: 75px;
		height: 75px;
	}

	footer{
		margin-top: 100px;
		width: 100%;
		background-color: #b67c0f;
		justify-content: center;
	}
	.grupo1{
		width: 100%;
		margin: auto;
		display: flex;
		justify-content: center;
		grid-gap:50px;
		padding: 45px 0px;
	}
	.box img{
		margin-left: -20px;
	}
	.box p{
		color: white;
		margin-top: 20px;
		margin-left: -60px;
		display: flex;
	}
	.box a{
		color: white;
		text-decoration: none;
	}
	.grupo2{
		background-color: #8C4C2B;
		padding: 15px 10px;
		text-align: center;
		color: white;
	}
	.grupo2 small{
		font-size: 15px;
	}